<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html lang="zh-cn" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <th:block th:fragment="css">
        <script src="/js/page-loading.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/css/index.css">
    </th:block>
</head>
<body>
<th:block th:fragment="nav">
    <style>
        header{
            transition: transform ease-out .5s;
        }
        header.hidden{
            transform: translateY(calc(0px - var(--bs-navbar-padding-y) * 2 - var(--bs-navbar-brand-padding-y) * 2 - var(--bs-body-line-height) * var(--bs-navbar-brand-font-size)));
        }
    </style>
    <header class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-xxl">
            <a class="navbar-brand" href="#">Bincker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item nav-home">
                        <a class="nav-link" aria-current="page" href="/">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">博客</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/tool" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            工具
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/tool/common">常用</a></li>
                            <li><a class="dropdown-item" href="/tool/developer">编程</a></li>
                            <li><a class="dropdown-item" href="/tool/office">办公</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/download" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            下载
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/download/soft">软件</a></li>
                            <li><a class="dropdown-item" href="/download/game">游戏</a></li>
                            <li><a class="dropdown-item" href="/download/system">系统</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/game" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            游戏
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/game/minecraft">我的世界</a></li>
                            <li><a class="dropdown-item" href="/game/">饥荒</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">关于</a>
                    </li>
                </ul>
                <!--                    <form class="d-flex" role="search">-->
                <!--                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--                        <button class="btn btn-outline-success" type="submit">Search</button>-->
                <!--                    </form>-->
            </div>
        </div>
        <script th:inline="javascript">
            $(function(){
                const theme= localStorage.getItem("theme") || "dark";
                [...document.getElementsByTagName("html")].forEach(e=>e.setAttribute("data-bs-theme", theme));
                //导航当前页选中
                $(".navbar-nav>.nav-item>.nav-link").filter((i, e)=>location.pathname.startsWith(e.pathname) && e.pathname !== '/' || e.pathname === location.pathname).addClass("active");

                //导航自动隐藏
                const header = $("header");
                const headerHeight = header.outerHeight();
                const enableAutoHide = /*[[${autohide}]]*/ false;
                let visible = true;
                let prevShowTime = Date.now();
                let hideTask = -1;
                function show(v = visible = !visible){
                    if (v){
                        header.removeClass("hidden");
                        clearTimeout(hideTask);
                        hideTask = -1;
                    }else{
                        header.addClass("hidden");
                    }
                }
                function delayHide() {
                    if (hideTask === -1 && visible){
                        hideTask = setTimeout(function () {
                            show(visible = false);
                            hideTask = -1;
                        }, 3000)
                    }
                }
                if (enableAutoHide){
                    delayHide();
                    header.hover(function (){
                        show(visible = true);
                    }, delayHide);
                    $(document.body).mousemove(function(event){
                        if (event.originalEvent.clientY < headerHeight) {
                            show(visible = true);
                            prevShowTime = Date.now();
                        }else{
                            delayHide()
                        }
                    });
                }
            });
        </script>
    </header>
</th:block>
<th:block th:fragment="footer">
    <footer class="bg-body-tertiary">
    </footer>
</th:block>
<th:block th:fragment="js">
    <script src="/js/bootstrap.bundle.min.js" defer></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
</th:block>
</body>
</html>