HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
out/
.idea/workspace.xml
.idea/dataSources.local.xml
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/resources/application-local.yml
database.db
my-env/.last_update_available_check
my-env/claude/env/*
remember-me.key
mihomo
mihomo.log
.aider*
