<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${blog.getTitle()}">Blog Title</title>
    <th:block th:insert="~{common/basic :: css}" />
    <th:block th:insert="~{common/basic :: js}" />
</head>
<body>
<th:block th:insert="~{common/basic :: nav (autohide = true)}"/>
<main class="container-xxl">
<p th:utext="*{content}">
    content
</p>
    <hr />
    <div class="text-secondary pb-3">
        <i class="bi bi-eye"></i>
        <span th:text="${blog.getViews()}">0</span>
        |
        <a id="btn-like" class="icon-link icon-link-hover link-secondary text-decoration-none" href="javascript:void(0)" style="--bs-icon-link-transform: translate3d(0, -.25rem, 0);">
            <i class="bi bi-heart"></i>
        </a>
        <span th:text="${blog.getLikes()}">0</span>
        |
        <a class="icon-link icon-link-hover link-secondary text-decoration-none" href="javascript:void(0)" style="--bs-icon-link-transform: translate3d(0, -.25rem, 0);">
            <i class="bi bi-share"></i>
        </a>
        <span th:text="${blog.getShares()}">0</span>
        |
        <i class="bi bi-upload"></i>
        <span th:text="${#dates.format(blog.getFileCreatedTime(), 'yyyy-MM-dd HH:mm:ss')}">2024-08-07 00:00:00</span>
        |
        <i class="bi bi-pencil"></i>
        <span th:text="${#dates.format(blog.getFileLastModified(), 'yyyy-MM-dd HH:mm:ss')}">2024-08-07 00:00:00</span>
    </div>
</main>
<th:block th:insert="~{common/basic :: footer}"/>
<script th:inline="javascript">
    (function(){
        $.post({
            url: location.pathname,
            contentType: "application/json",
            data: JSON.stringify({type: 'VIEW'})
        });

        $("#btn-like").click(function () {
            if ($(this).children("i").hasClass("bi-heart-fill")) return;
            console.log($(this))
            $.post({
                url: location.pathname,
                contentType: "application/json",
                data: JSON.stringify({type: 'LIKE'}),
                success: ()=>{
                    $(this).children("i").removeClass("bi-heart").addClass("bi-heart-fill");
                    const span = $(this).next();
                    span.text(+span.text() + 1);
                }
            });
        })
    })();
</script>
</body>
</html>