<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${blog.getTitle()}">Blog Title</title>
    <th:block th:insert="~{common/basic :: css}" />
</head>
<body>
<th:block th:insert="~{common/basic :: nav}"/>
<main class="container-xxl">
<p th:utext="*{content}">
    content
</p>
</main>
<th:block th:insert="~{common/basic :: footer}"/>
<th:block th:insert="~{common/basic :: js}" />
<script th:inline="javascript">
    (function(){
        $.post(/*[[${'/blog/hit/' + blog.getId()}]]*/ "/blog/hit/id")
    })()
</script>
</body>
</html>