<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客</title>
    <th:block th:insert="~{common/basic :: css}"/>
    <th:block th:insert="~{common/basic :: js}"/>
</head>
<body>
<th:block th:insert="~{common/basic :: nav}"/>
<main class="container-xxl">
    <ul class="p-3 list-unstyled">
        <li th:each="blog : ${page.getRecords()}" class="mb-4 d-flex justify-content-between">
            <a th:text="${blog.getTitle()}" th:href="@{'/blog/' + ${blog.getFilePath()}}" class="text-body h5">Title</a>
            <span class="text-secondary" th:text="${#dates.format(blog.getFileCreatedTime(), 'yyyy-MM-dd')}" style="font-size: 0.8rem"></span>
        </li>
    </ul>
</main>
<th:block th:insert="~{common/basic :: footer}"/>
</body>
</html>