:root {
    font-size: 1.1rem;
    --footer-height: 10rem;
    --navbar-height: 3.8rem;
}
main {
    /*100vh - var(--bs-navbar-padding-y) * 2 - var(--bs-navbar-brand-padding-y) * 2 - var(--bs-body-line-height) * var(--bs-navbar-brand-font-size) - footer height */
    /*noinspection CssUnresolvedCustomProperty*/
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}
footer {
    height: var(--footer-height);
}