<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>关于</title>
    <th:block th:insert="~{common/basic :: css}"/>
    <th:block th:insert="~{common/basic :: js}"/>
</head>
<body>
<th:block th:insert="~{common/basic :: nav}"/>
<main class="container-xxl p-5">
    <p>是的，没错</p>
    <p>我又开始写博客系统了</p>
    <h5>记录一下想做的功能，慢慢实现：</h5>
    <ol>
        <li>
            <h6>TODO list</h6>
            [2025-02-26]
            随时记录想做的事和计划
            <ol>
                <li>即有web端也有pc客户端，pc客户端主要是为了快捷键快速记录TODO，当然web端也能做同样的事情</li>
                <li>web端和客户端都有日程提示</li>
                <li>支持定期循环TODO</li>
                <li>支持对TODO推脱和延期，推脱有口嗨直接推脱和其他原因推脱，其他原因推脱需要记录推脱原因</li>
                <li>能计算达成率、口嗨率、拖延率等统计信息在web端显示</li>
                <li>支持TODO任务细分和依赖关系</li>
            </ol>
        </li>
        <li>
            <h6>动态交互壁纸/背景/首页</h6>
            [2025-02-26]
            手绘一些自己日常生活的画面，加入一些动画，制作一些比较治愈的效果
            <ol>
                <li>场景和传感器配套支持打包下载、上传，商业化的一种方向和可能</li>
                <li>支持多种传感器：红外、光敏、蓝牙、wifi等等</li>
                <li>判断人物是否在场景，从而是否绘画人物</li>
                <li>判断时间，绘制白天或者夜晚</li>
                <li>判断人物在做什么事，粗略有：打游戏、敲代码、睡觉、骑车</li>
            </ol>
        </li>
        <li>
            <h6>音乐播放器</h6>
            [2025-02-26]
            <ol>
                <li>同时支持网易云音乐、QQ音乐的日推、歌单播放</li>
                <li>日推、喜欢的歌单支持网易云、QQ音乐、服务端混合放在同一列表内</li>
                <li>支持网易云、QQ音乐收藏到我喜欢</li>
                <li>支持将网易云、QQ音乐同步到网盘，自动同步，如果发现音源无法播放则从网盘解析播放</li>
            </ol>
        </li>
        <li>
            <h6>模板文档上传/下载</h6>
            [2025-02-26]
            去年从网上爬的资源，一直每来得及弄
        </li>
        <li>
            <h6>资源搜索一键下载</h6>
            [2025-02-26]
            影视资源、PT资源、BT资源、软件资源
            支持连接QBittorrent等下载工具下载
        </li>
        <li>
            <h6>软件站</h6>
            [2025-02-26]
            自动解析官方下载地址并同步到网盘
            解析网盘地址提供下载
            支持自动同步各个版本
        </li>
        <li>
            <h6>自动工作流</h6>
            [2025-02-26]
            通过各种方法触发工作流，比如定时、手动、传感器等。
            可视化对工作流进行编程，支持判断、循环等操作等。
        </li>
        <li>
            <h6>证书管理</h6>
            [2025-02-27]
            <ol>
                <li>支持生成证书、证书下载、证书到期提示等功能</li>
                <li>支持阿里云自动申请证书</li>
                <li>支持证书nginx自动部署</li>
            </ol>
        </li>
    </ol>
</main>
<th:block th:insert="~{common/basic :: footer}"/>
</body>
</html>