<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客</title>
    <th:block th:insert="~{common/basic :: css}"/>
</head>
<body>
<th:block th:insert="~{common/basic :: nav}"/>
<main class="container-xxl">
    <div class="text-md-center">
        <p class="text-secondary-emphasis fs-1 p-4">这人懒得一批，会写博客？</p>
    </div>
</main>
<th:block th:insert="~{common/basic :: footer}"/>
<th:block th:insert="~{common/basic :: js}"/>
</body>
</html>