<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO</title>
    <th:block th:insert="~{common/basic :: css}"/>
    <th:block th:insert="~{common/basic :: js}"/>
</head>
<body>
<th:block th:insert="~{common/basic :: nav}"/>
<main class="container-xxl">
    <ul class="p-3 list-unstyled">
    </ul>
</main>
<th:block th:insert="~{common/basic :: footer}"/>
</body>
</html>